---
- name: "Creating Nginx namespace '{{ nginx.nginx_namespace }}' if missing"
  k8s:
    name: "nginx-{{ type }}"
    kind: Namespace
    state: present
    wait: true
    wait_sleep: 2
    wait_timeout: 60

- name: "Creating cert-manager namespace if missing"
  k8s:
    name: cert-manager
    kind: Namespace
    state: present
    wait: true
    wait_sleep: 2
    wait_timeout: 60

- name: "Add Nginx ingress controller chart repo"
  kubernetes.core.helm_repository:
    name: nginx
    repo_url: "https://kubernetes.github.io/ingress-nginx"

- name: "Add Jetstack certificate manager chart repo"
  kubernetes.core.helm_repository:
    name: cert-manager
    repo_url: "https://charts.jetstack.io"

- name: "Install Nginx Ingress Controller"
  kubernetes.core.helm:
    chart_ref: nginx/ingress-nginx
    chart_version: "{{nginx.nginx_chart_version}}"
    release_name: "nginx-{{type}}"
    release_state: present
    release_namespace: "nginx-{{type}}"
    force: True
    wait: True
    wait_timeout: "300s"
    update_repo_cache: True
    disable_hook: True
    values_files:
      - roles/nginx-ingress/nginx-{{cluster}}/values-{{type}}.yaml

- name: "Install Jetstack certificate manager"
  kubernetes.core.helm:
    chart_ref: cert-manager/cert-manager
    chart_version: "{{nginx.cert_manager_chart_version}}"
    release_name: cert-manager
    release_state: present
    release_namespace: cert-manager
    force: True
    wait: True
    wait_timeout: "300s"
    update_repo_cache: True
    disable_hook: True
    release_values:
      installCRDs: true
