{
    "successBucket": {
        "name": "${successBucket}"
    },
    "failureBucket": {
        "name": "${failureBucket}"
    },
    "dynamoDB": {
        "tableName": "${dynamoDB}"
    },
    "sns": {
        "successTopicARN": "${successTopicARN}",
        "failureTopicARN": "${failureTopicARN}"
    },
    "state": "${state}"
}

