---
- name: "Creating Flux2 namespace '{{ fluxcd.flux_namespace }}' if missing"
  k8s:
    name: "{{ fluxcd.flux_namespace }}"
    kind: Namespace
    state: present
    wait: true
    wait_sleep: 2
    wait_timeout: 60

- name: Creating git repo credentials
  k8s:
    state: present
    definition: 
      kind: Secret
      type: Opaque
      metadata:
        name: git-auth
        namespace: "{{ fluxcd.flux_namespace }}"
        label: flux
      stringData:
        GIT_AUTHUSER: "{{ fluxcd.git_username }}" 
        GIT_AUTHKEY: "{{ fluxcd.git_password }}"
        GIT_SSHKEY: "{{ fluxcd.git_sshkey }}"

- name: "Deploy Flux2 CD"
  kubernetes.core.helm:
    chart_ref: https://github.com/fluxcd-community/helm-charts/releases/download/flux2-{{fluxcd.versions.flux2}}/flux2-{{fluxcd.versions.flux2}}.tgz
    release_name: flux2
    release_state: present
    release_namespace: "{{ fluxcd.flux_namespace }}"
    force: True
    wait: True
    wait_timeout: "300s"
    update_repo_cache: True
    disable_hook: True
    release_values:
      installCRDs: "{{fluxcd.flux2.installCRDs}}"
      clusterDomain: "{{fluxcd.flux2.clusterDomain}}"
      logLevel: "{{fluxcd.flux2.logLevel}}"
      watchAllNamespaces: "{{fluxcd.flux2.watchAllNamespaces}}"
      rbac:
        create: "{{fluxcd.flux2.rbac.create}}"

- name: "Deploy Flux2 CD Sync"
  kubernetes.core.helm:
    chart_ref: https://github.com/fluxcd-community/helm-charts/releases/download/flux2-sync-{{fluxcd.versions.sync}}/flux2-sync-{{fluxcd.versions.sync}}.tgz
    release_name: flux2-sync
    release_state: present
    release_namespace: "{{ fluxcd.flux_namespace }}"
    force: True
    wait: True
    wait_timeout: "300s"
    update_repo_cache: True
    disable_hook: True
    release_values:
      gitRepository:
        spec:
          secretRef:
            #name: "{{fluxcd.sync.gitRepository.spec.secretRef.name}}"
            name: "{{ fluxcd.git_use_secret }}"
          timeout: "{{fluxcd.sync.gitRepository.spec.timeout}}"
          interval: "{{fluxcd.sync.gitRepository.spec.interval}}"
          #url: "https://{{ fluxcd.git_username }}:{{ fluxcd.git_password }}@{{ fluxcd.git_repo }}"
          url: "{{ fluxcd.git_protocol }}://{{ fluxcd.git_username }}{{ fluxcd.git_password }}@{{ fluxcd.git_repo }}"
          ref:
            branch: "{{ fluxcd.git_branch }}"
      secret:
        create: "{{fluxcd.sync.secret.create}}"
        data: "{{fluxcd.sync.secret.data}}"
        generate:
          sshKeyAlgorithm: "{{fluxcd.sync.secret.generate.sshKeyAlgorithm}}"
          sshEcdsaCurve: "{{fluxcd.sync.secret.generate.sshEcdsaCurve}}"

- name: "Create GIT SSH secret"
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "{{fluxcd.sync.gitRepository.spec.secretRef.nameSSH}}"
        namespace: "{{ fluxcd.flux_namespace }}"
      data:
        identity: "{{ fluxcd.git_sshkey }}"
        known_hosts: "{{ fluxcd.git_ssh_known_hosts }}"
  when: fluxcd.git_protocol == 'ssh'

- name: "Deploy Flux2 CD Notifications"
  kubernetes.core.helm:
    chart_ref: https://github.com/fluxcd-community/helm-charts/releases/download/flux2-notification-{{fluxcd.versions.notification}}/flux2-notification-{{fluxcd.versions.notification}}.tgz
    release_name: flux2-notification
    release_state: present
    release_namespace: "{{ fluxcd.flux_namespace }}"
    force: True
    wait: True
    wait_timeout: "300s"
    update_repo_cache: True
    disable_hook: True
    release_values:
      secretlist: "{{fluxcd.notification.secretlist}}"
      providerlist: "{{fluxcd.notification.providerlist}}"
      alertlist: "{{fluxcd.notification.alertlist}}"
