{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": [
            "arn:aws:iam::{{ vault.aws_account_number }}:role/{{ vault.network.org_name }}-{{ vault.env }}-gitactions-admin",
            "arn:aws:iam::{{ vault.aws_account_number }}:role/tf_automation"
            ]
      },
      "Action": "*",
      "Resource": "*"
    },
	{
      "Effect": "Allow",
      "Principal": {
        "AWS": [
            "arn:aws:iam::{{ vault.aws_account_number }}:role/{{ vault.network.org_name }}-{{ vault.env }}-openidl-apps",
		    "arn:aws:iam::{{ vault.aws_account_number }}:role/{{ vault.network.org_name }}-{{ vault.env }}-baf-automation"
			]
      },
      "Action": [
		"secretsmanager:GetSecretValue",
		"secretsmanager:DescribeSecret",
		"secretsmanager:GetRandomPassword",
		"secretsmanager:List*"
	  ],
      "Resource": "*"
    },
    {
        "Effect": "Deny",
        "Principal": "*",
        "Action": "*",
        "Resource": "*",
        "Condition": {
		    "StringNotLike": {
			    "aws:PrincipalArn": [
			        "arn:aws:iam::{{ vault.aws_account_number }}:root",
			        "arn:aws:iam::{{ vault.aws_account_number }}:role/{{ vault.network.org_name }}-{{ vault.env }}-gitactions-admin",
                    "arn:aws:iam::{{ vault.aws_account_number }}:role/tf_automation",
    				"arn:aws:iam::{{ vault.aws_account_number }}:role/{{ vault.network.org_name }}-{{ vault.env }}-openidl-apps",
	    			"arn:aws:iam::{{ vault.aws_account_number }}:role/{{ vault.network.org_name }}-{{ vault.env }}-baf-automation"
				]
			}
		}
    }
  ]
}
