{
  "username": "${apiUsername}",
  "password": "${apiPassword}",
  "loginURL": "${utilitiesAPIURL}/openidl/api/app-user-login",
  "getDatacallURL": "${datacallURL}/openidl/api/data-call-versions/",
  "updateDatacallURL":"${datacallURL}/openidl/api/data-call",
  "getReportURL": "${datacallURL}/openidl/api/report?",
  "postReportURL": "${datacallURL}/openidl/api/report",
  "getDMVDataURL": "${idmAPIURL}/openidl/api/get-insurance-data-by-criteria?"
}
