{
  "urlPrefix": "https://s3.${region}.amazonaws.com/",
  "accessKeyId": "${accessKeyId}",
  "bucketName": "${reportBucket}",
  "roleParams": {
    "ExternalId": "${externalId}",
    "RoleArn": "${roleArn}",
    "RoleSessionName": "${roleSessionName}"
  },
  "secretAccessKey": "${secretAccessKey}"
}
