{
    "channels": [
    {% for channel in channels -%}
    {
      "chaincodeName": "{{ channel.chaincode.name }}",
      "channelName": "{{ channel.name }}"
    }{% if loop.last %}{% else %},{% endif %}
    {%- endfor %}
    ],
    "crossChannelQueryParam": [
    {% for channel in channels -%}{% if channel.isCrossChannel %}
    {
      "chaincodeName": "{{ channel.chaincode.name }}",
      "channelName": "{{ channel.name }}"
    }{% if loop.last %}{% else %},{% endif %}
    {%- endif %}{%- endfor %}
    ],
    "users": [
        {
            "mspId": "{{ organizationName }}MSP",
            "org": "{{ organizationName }}",
            "user": "openidl-{{ organizationName }}-data-call-app-ibp-2.0"
        }
    ]
}