{
    {% set caURI = 'ca.' ~ organizationName ~ '-net.' ~ organizationName ~ '.' ~ environment ~ '.' ~ dns.subdomain ~ '.' ~ dns.domain -%}
    {% set peerURI = 'peer0.' ~ organizationName ~ '-net.' ~ organizationName ~ '.' ~ environment ~ '.' ~ dns.subdomain ~ '.' ~ dns.domain -%}
    "certificateAuthorities": {
        "{{ caURI }}": {
            "caName": "ca.{{ organizationName }}-net",
            "httpOptions": {
                "verify": false
            },
            "tlsCACerts": {
                "pem": [
                    "{{ certs.tlsCA|replace("\n","\\n") }}"
                ]
            },
            "url": "https://{{ caURI }}:8443"
        }
    },
    "client": {
        "connection": {
            "timeout": {
                "peer": {
                    "endorser": "300"
                }
            }
        },
        "organization": "{{ organizationName }}"
    },
    "isLocal": true,
    "name": "test-network-{{ organizationName }}",
    "organizations": {
        "{{ organizationName }}": {
            "certificateAuthorities": [
                "{{ caURI }}"
            ],
            "mspid": "{{ organizationName }}MSP",
            "peers": [
                "{{ peerURI }}"
            ]
        }
    },
    "peers": {
        "{{ peerURI }}": {
            "grpcOptions": {
                "grpc-wait-for-ready-timeout": 30000,
                "grpc.http2.keepalive_time": 36000,
                "grpc.http2.keepalive_timeout": 18000,
                "grpc.keepalive_time_ms": 360000,
                "grpc.keepalive_timeout_ms": 180000,
                "hostnameOverride": "{{ peerURI }}",
                "ssl-target-name-override": "{{ peerURI }}"
            },
            "tlsCACerts": {
                "pem": "{{ certs.tlsCA|replace("\n","\\n") }}"
            },
            "url": "grpcs://{{ peerURI }}:8443"
        }
    },
    "version": "1.0.0"
}