{
    "targetChannels": [{
        "channelName": "defaultchannel",
        "chaincodeName": "openidl-cc-default"
    }],
    "users": [{
        "org": "{{ organizationName }}",
        "user": "openidl-data-call-mood-listener-ibp-2.0",
        "mspId": "{{ organizationName }}MSP"
    }]
}