{
    "Config": [
        {
            "emailsubject": "Blockchain API is Down",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "APIDOWN",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Mongo Service is Down",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "DBDOWN",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Data Load for <<BATCHID>> - Mongo Database Error",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "DBEXECERROR",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Blockchain Hash failed",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "BCERROR",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Data Load for <<BATCHID>> Failure ",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "DATALOADFAILURE",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Data Load - Input file format is incorrect",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "INPUTFILEFORMAT",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Data Load Log Failure - <<BATCHID>>",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "DBLOGFAILURE",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Data Loaded Successfully",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "DATALOADSUCCESS",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Generate Token Failure",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "GENERATETOKENFAILURE",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        },
        {
            "emailsubject": "Generate Token Success",
            "fromemailaddress": "{{ support.fromAddress }}",
            "service": "GENERATETOKENSUCCESS",
            "toemailaddress": [
                {% for toAddress in support.toAddresses -%}
                "{{ toAddress }}"{% if loop.last %}{% else %},{% endif %}
                {%- endfor %}
            ]
        }
    ]
}