{
    "accessKeyId": "{{ aws.accessKeyId }}",
    "region": "{{ aws.region }}",
    "secretAccessKey": "{{ aws.secretAccessKey }}",
    "secretName": "{{ organizationName }}-dev-kvs-vault",
    "walletType": "hashicorp_vault"
}