{
    "accessKeyId": "{{ aws.accessKeyId }}",
    "bucketName": "openidl-{{ organizationName }}-analytics-{{ environment }}-output",
    "region": "{{ aws.region }}",
    "secretAccessKey": "{{ aws.secretAccessKey }}"
}