{
    "targetChannels": [
        {
            "chaincodeName": "openidl-cc-aais-carriers",
            "channelName": "anal-{{ organizationName }}"
        },
        {
            "chaincodeName": "openidl-cc-default",
            "channelName": "defaultchannel"
        }
    ],
    "users": [
        {
            "mspId": "{{ organizationName }}MSP",
            "org": "{{ organizationName }}",
            "user": "openidl-{{ organizationName }}-data-call-processor-ibp-2.0"
        }
    ]
}