{
    "listenerChannels": [
{% for channel in listenerChannels -%}
        {
            "channelName": "{{ channel.name }}",
            "events": [
                {
                    "TransactionalDataAvailable": "processTransactionalDataAvailableEvent"
                }
            ]
    }{% if loop.last %}{% else %},{% endif %}
    {%- endfor %}
    ],
    "identity": {
        "user": "openidl-transactional-data-event-listener-ibp-2.0",
        "wallet": "&wallet"
    },
    "applicationName": "openidl-transactional-data-event-listener"
}