{
    "identifiers": [
        {% for organizationId in organizationIds -%}
        {
            "carrierName": "{{ organizationId.name }}",
            "uniqueIdentifier": "{{ organizationId.id }}"
        }{% if loop.last %}{% else %},{% endif %}
        {%- endfor %}
    ]
}