{
    "off-chain-db-credentials": {
        "env": "OFF_CHAIN_DB_CONFIG",
        "file": "local-db-config.json"
    },
    "kvs-credentials": {
        "env": "KVS_CONFIG",
        "file": "local-kvs-config.json"
    },
    "s3-bucket-config": {
        "env": "S3_BUCKET_CONFIG",
        "file": "s3-bucket-config.json"
    }
}