{
    "idp-credentials": {
        "env": "IDP_CONFIG",
        "file": "{{idp_config_file}}"
    },
    "kvs-credentials": {
        "env": "KVS_CONFIG",
        "file": "local-kvs-config.json"
    },
    "off-chain-db-credentials": {
        "env": "OFF_CHAIN_DB_CONFIG",
        "file": "local-db-config.json"
    }
}