{
    "listenerChannels": [
{% for channel in network.channels if not channel.common %}
        {
            "channelName": "{{ channel.name }}",
            "events": [
                {
                    "ConsentedEvent": "ConsentedEvent"
                },
                {
                    "ToggleLikeEvent": "ToggleLikeEvent"
                }
            ]
        }{% if loop.last %}{% else %},{% endif %}
{% endfor %}
    ],
    "identity": {
        "user": "openidl-{{ network.org_name }}-data-call-mood-listener-ibp-2.0",
        "wallet": "&wallet"
    },
    "applicationName": "openidl-data-call-mood-listener"
}
