{
    "accessKeyId": "{{ aws_access_id }}",
    "region": "{{ aws_region }}",
    "secretAccessKey": "{{ aws_access_secret_key }}",
    "roleParams": {
        "ExternalId": "apps-user",
        "RoleArn": "arn:aws:iam::{{ aws_account_number }}:role/{{ env_id }}-openidl-apps",
        "RoleSessionName": "openidl"
    },
    "secretName": "{{ env_id }}-kvs-vault",
    "walletType": "hashicorp_vault"
}
