{
    "mongo": {
        "mongodb": "openidl-offchain-db",
        "persistentStore": "mongo",
        "simpleURI": "mongodb://{{ mongo_user }}:{{ mongo_user_token }}@{{ network.org_name }}-mongodb-0.{{ network.org_name }}-mongodb-headless.{{mongodb_namespace}}.svc.cluster.local:27017,{{ network.org_name }}-mongodb-1.{{ network.org_name }}-mongodb-headless.{{mongodb_namespace}}.svc.cluster.local:27017,{{ network.org_name }}-mongodb-2.{{ network.org_name }}-mongodb-headless.{{mongodb_namespace}}.svc.cluster.local:27017/openidl-offchain-db?authSource=openidl-offchain-db"
    },
    "postgres": {
        "host": "{{ hds_host }}",
        "port": "{{ hds_port }}",
        "username": "{{ hds_username }}",
        "password": "{{ hds_password }}",
        "database": "{{ hds_dbname }}"
    },
    "defaultDbType": "mongo",
    "admin": {
        "userId": "{{ app_admin_user_id }}",
        "stateName": "New York",
        "stateCode": "NY",
        "role": "admin",
        "organizationId": "{{ org_id }}"
  }
}