{
    "targetChannels": [
{% for channel in network.channels if not channel.common %}
        {
            "chaincodeName": "{{ channel.chaincode.name }}",
            "channelName": "{{ channel.name }}"
        },
{% endfor %}
{% for channel in network.channels if channel.common %}
        {
            "chaincodeName": "{{ channel.chaincode.name }}",
            "channelName": "{{ channel.name }}"
        }{% if loop.last %}{% else %},{% endif %}
{% endfor %}
    ],
    "users": [
        {
            "mspId": "{{ network.msp_id }}",
            "org": "{{ network.org_name }}",
            "user": "openidl-{{ network.org_name }}-data-call-processor-ibp-2.0"
        }
    ]
}