{
    "data-call-app-url": {
        "env": "DATA_CALL_APP_URL",
        "value": "https://{{app_data_call_address}}/openidl/api"
    },
    "idp-credentials": {
        "env": "IDP_CONFIG",
        "file": "local-cognito-config.json"
    },
    "log-level": {
        "env": "LOG_LEVEL",
        "value": "debug"
    },
    "port": {
        "env": "PORT",
        "value": "8080"
    },
    "icon-bucket-url": {
		"value": "https://{{ s3_icon_bucket_url }}/",
		"env": "ICON_BUCKET_URL"
	}
}