---
- name: "Create endorsing organization components"
  hosts: all
  vars:
    state: present
    git_configs_repo_branch: main
    organization_id: endorsing_org
  tasks:
    - include_role:
        name: git-config

    - name: "Blockchain collection"
      include_role:
        name: setup/blockchain-platform
      vars:
        blockchain_collection_install: false

    - name: "Include vars from git"
      include_role:
        name: include-config-vars

    - include_role:
        name: ibm.blockchain_platform.endorsing_organization
      vars:
        api_endpoint: "{{ console.api_endpoint }}"
        api_authtype: "{{ console.api_authtype }}"
        api_key: "{{ console.username }}"
        api_secret: "{{ console.password }}"
        organization_name: "{{ network.org_name }}"
        organization_msp_id: "{{ network.msp_id }}"
        ca_admin_enrollment_id: "{{ network.org_name }}_ca_admin"
        ca_admin_enrollment_secret: "{{ network.org_name }}_ca_admin"
        ca_version: "{{ network.ca_version }}"
        organization_admin_enrollment_id: "{{ network.org_name }}_org_admin"
        organization_admin_enrollment_secret: "{{ network.org_name }}_org_admin"
        peer_enrollment_id: "{{ network.peer_enrollment_id }}"
        peer_enrollment_secret: "{{ network.peer_enrollment_secret }}"
        peer_version: "{{ network.peer_version }}"
        wait_timeout: 600
        ca_name: "{{ network.ca_name }}"
        ca_admin_identity: "{{ network.ca_name }}admin.json"
        organization_admin_identity: "{{ network.org_name }}admin.json"

    - include_role:
        name: upload-admin-users-to-wallet
      when: state == "present"