- hosts: ansible_provisioners
  gather_facts: false
  no_log: "{{ no_ansible_log | default(false) }}"
  tasks:
    - name: Checkout configuration
      include_role:
        name: "git-config"

    - include_role:
        name: "include-config-vars"

    # - name: Configure environment
    #   include_role:
    #     name: "prerun-job"

    - include_role:
        name: "identity-deploy"
