default_aws_profile: "cicd-role"
console_api_authtype: "basic"
cert_auth: "{{msp_id}}"
aws_region: "{{region}}"
applications_domain: "app.{{main_domain}}"
s3_icon_bucket_url: "{{ org_id }}-{{ env_id }}-openidl-publicicons.s3.{{ region }}.amazonaws.com"
app_data_call_address: "data-call-app-service.{{ applications_domain }}"
config_folder: "/tmp/openidl-code/{{ env_id }}-config"
aws_iam_user_prefix: "{{env_id}}"
aws_s3_hds_bucket: "{{ org_id }}-{{ env_id }}-openidl-hdsdatastore"

apps_config_reader_name: "{{ cloud_provider }}"

organizations: ""
apps_user_access_id: ""
apps_user_secret_key: ""
cognito_app_client_id: ""
cognito_user_pool_id: ""
mongodb_user: ""
mongodb_user_token: ""
vault_config: ""

oauth2_client_id: ""
oauth2_authorization_url: ""
oauth2_issuer_url: ""

app_admin_user_id: ""

network:
  org_name: "{{org_id}}"
  msp_id: "{{msp_id}}"
  channels: "{{fabric_channels}}"

support:
  fromAddress: "{{contact_email}}"
  toAddresses:
    - "{{contact_email}}"

mongodb_namespace: "mongodb-{{org_id}}"

# Must be defined as a secure credential
hds_host: ""
hds_port: ""
hds_username: ""
hds_password: ""
hds_dbname: ""

application_cognito_user_pool: "{{env_id}}-{{org_id}}"
application_cognito_appl_client: "{{env_id}}-{{org_id}}-app-client"
hide_sensitive_logs: true

app_config_pki_storage: "local"

app_config_files_list:
  - source: "channel-config.json"
    dest: "channel-config.json"
  - source: "data-call-app-default-config.json"
    dest: "data-call-app-default-config.json"
  - source: "data-call-app-mappings-config.json"
    dest: "data-call-app-mappings-config.json"
  - source: "default-config.json"
    dest: "default-config.json"
  - source: "email-config.json"
    dest: "email-config.json"
  - source: "insurance-data-manager-channel-config.json"
    dest: "insurance-data-manager-channel-config.json"
  - source: "insurance-data-manager-default-config.json"
    dest: "insurance-data-manager-default-config.json"
  - source: "insurance-data-manager-mappings-config.json"
    dest: "insurance-data-manager-mappings-config.json"
  - source: "insurance-data-manager-metadata-config.json"
    dest: "insurance-data-manager-metadata-config.json"
  - source: "local-cognito-admin-config.json"
    dest: "local-cognito-admin-config.json"
  - source: "local-cognito-config.json"
    dest: "local-cognito-config.json"
  - source: "local-auth-config.json"
    dest: "local-auth-config.json"
  - source: "local-db-config.json"
    dest: "local-db-config.json"
  - source: "kvs-config-{{app_config_pki_storage}}.json"
    dest: "local-kvs-config.json"
  - source: "local-vault-config.json"
    dest: "local-vault-config.json"
  - source: "s3-bucket-config.json"
    dest: "s3-bucket-config.json"
  - source: "ui-mappings-config.json"
    dest: "ui-mappings-config.json"
  - source: "unique-identifiers-config.json"
    dest: "unique-identifiers-config.json"
  - source: "utilities-admin-config.json"
    dest: "utilities-admin-config.json"
  - source: "utilities-fabric-config.json"
    dest: "utilities-fabric-config.json"
  - source: "utilities-mappings-config.json"
    dest: "utilities-mappings-config.json"

app_config_files_carrier_list:
  - source: "data-call-processor-default-config.json"
    dest: "data-call-processor-default-config.json"
  - source: "data-call-processor-mappings-config.json"
    dest: "data-call-processor-mappings-config.json"
  - source: "data-call-processor-metadata-config.json"
    dest: "data-call-processor-metadata-config.json"
  - source: "listener-channel-config.json"
    dest: "listener-channel-config.json"
  - source: "target-channel-config.json"
    dest: "target-channel-config.json"

app_config_files_analytics_list:
  - source: "transactional-data-event-listener-channel-config.json"
    dest: "transactional-data-event-listener-channel-config.json"
  - source: "transactional-data-event-listener-default-config.json"
    dest: "transactional-data-event-listener-default-config.json"
  - source: "transactional-data-event-listener-mappings-config.json"
    dest: "transactional-data-event-listener-mappings-config.json"
  - source: "transactional-data-event-listener-metadata-config.json"
    dest: "transactional-data-event-listener-metadata-config.json"
  - source: "transactional-data-event-listener-target-channel-config.json"
    dest: "transactional-data-event-listener-target-channel-config.json"
  - source: "data-call-mood-listener-channel-config.json"
    dest: "data-call-mood-listener-channel-config.json"
  - source: "data-call-mood-listener-default-config.json"
    dest: "data-call-mood-listener-default-config.json"
  - source: "data-call-mood-listener-mappings-config.json"
    dest: "data-call-mood-listener-mappings-config.json"
  - source: "data-call-mood-listener-metadata-config.json"
    dest: "data-call-mood-listener-metadata-config.json"
  - source: "data-call-mood-listener-target-channel-config.json"
    dest: "data-call-mood-listener-target-channel-config.json"