{
    "channels": [
{% for channel in network.channels if (channel.name == "defaultchannel") or (org_name in channel.name) %}
    {
      "chaincodeName": "{{ channel.chaincode.name }}",
      "channelName": "{{ channel.name }}"
    }{% if loop.last %}{% else %},{% endif %}
{% endfor %}
    ],
    "crossChannelQueryParam": [
{% for channel in network.channels if org_name in channel.name %}
    {
      "chaincodeName": "{{ channel.chaincode.name }}",
      "channelName": "{{ channel.name }}"
    }{% if loop.last %}{% else %},{% endif %}
{% endfor %}
    ],
    "users": [
        {
            "mspId": "{{ network.org_name }}MSP",
            "org": "{{ network.org_name }}",
            "user": "openidl-{{ network.org_name }}-data-call-app-ibp-2.0"
        }
    ]
}