{
    "targetChannels": [
        {
            "channelName": "defaultchannel",
            "chaincodeName": "openidl-cc-default"
        },
{% for channel in network.channels if org_name in channel.name %}
        {
            "channelName": "{{ channel.name }}",
            "chaincodeName": "{{ channel.chaincode.name }}"
        }{% if loop.last %}{% else %},{% endif %}
{% endfor %}
    ],
    "users": [{
        "org": "{{ network.org_name }}",
        "user": "openidl-{{ network.org_name }}-data-call-mood-listener-ibp-2.0",
        "mspId": "{{ network.org_name }}MSP"
    }]
}
