{
    "carrierid": [
{% for org in organization_ids %}
        "{{ org.id }}"{% if loop.last %}{% else %},{% endif %}
{% endfor %}
    ],
    "host": "localhost",
    "logLevel": "debug",
    "maxBatchArraySize": 10000,
    "port": "8080",
    "send_grid_apikey": "",
    "targetDB": "insurance_trx_db"
}