{
    "logLevel": "debug",
    "host": "localhost",
    "port": "8080",
    "timeout": 20000,
    "mongodb":"openidl-offchain-db",
    "targetDB": "event_listeners_db",
    "transactionalDataManagerDB": "data_call_insurance_trx_db",
    "pageSize": 1,
    "insuranceDataStorageEnv": "s3Bucket",
    "pollIntervalString": "00 00 4 \* \* 0-6",
    "pollIntervalInDays": "1"
}