{
    "data-call-app-url": {
        "env": "DATA_CALL_APP_URL",
        "value": "http://data-call-app-service.{{ env }}.{{ internal_domain }}/openidl/api"
    },
    "idp-credentials": {
        "env": "IDP_CONFIG",
        "file": "local-cognito-config.json"
    },
    "log-level": {
        "env": "LOG_LEVEL",
        "value": "debug"
    },
    "port": {
        "env": "PORT",
        "value": "8080"
    }
}